@model AspNetMvcCore.Models.Query
@{
    ViewData["Title"] = "UserInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <br />
    <h2>User</h2>
    <br />
    <h4>Please, type the user name.</h4>
    <br />
    <div>
        <form asp-controller="User" asp-action="UserResult" method="post">
            User name: <input asp-for="Name" />
            <br />
            <br />
            <button type="submit"> Find </button>
        </form>
        <br />
    </div>
</div>

