@model AspNetMvcCore.Models.Query
@{
    ViewData["Title"] = "CommentsListPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get the list of short comments under the posts of a user</h2>

<h4>Please, type the user id.</h4>
<div>
    <form asp-controller="Queries" asp-action="CommentsListPostResult" method="post">
        User id: <input asp-for="Id" /> <br />
        <button type="submit">Find</button>
    </form>

    <a asp-action="Index">Back to List</a>
</div>

