@model List<IGrouping<int, DataStructuresAndLINQ.Comment>>
@{
    ViewData["Title"] = "CommentsListPostResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Get the list of short comments under the posts of a user</h2>
<div>
    <br />
    @if (Model?.Any() != true)
    {
        <p class="text-center">There are no comments/posts.</p>
    }
    else
    {
        <table class="table text-center table-responsive table-hover">
            <thead>
                <tr><td></td></tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr class="btn-link" type="button" id="com" data-toggle="collapse" data-target=".com">
                        <td>@Html.ActionLink("Post id: " + @item.Key, "PostResultId", "Post", new { id=item.Key })</td>
                    </tr>
                    @foreach (var c in item)
                    {
                        <tr class="collapse in" id="com">
                          <td>Comment: @c.Body</td>
                        </tr>
                    }
                </tbody>
            }

        </table>
    }
    <br />
</div>
