@model AspNetMvcCore.Models.Query
@{
    ViewData["Title"] = "CommentsListPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Get the list of short comments under the posts of a user</h2>
    <br />
    <h4>Please, type the user id.</h4>
    <br />
    <div>
        <form asp-controller="Queries" asp-action="CommentsListPostResult" method="post">
            User id: <input asp-for="Id" />
            <br />
            <br />
            <button type="submit">Find</button>
        </form>
        <br />
        <a asp-action="QueriesList">Back to List</a>
        <br />
    </div>
</div>
