@model List<Tuple<int, int>>
@{
    ViewData["Title"] = "NumberOfCommentsResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get the number of comments under the posts of a user</h2>
<div>
    <br />
    <table class="table text-center">
        <thead>
            <tr>
                <td>Post id</td>
                <td>Number of comments</td>
            </tr>
        </thead>
        @foreach (var el in Model)
        {
            <tbody>
                <tr>
                    <td>@el.Item1</td>
                    <td>@el.Item2</td>
                </tr>
            </tbody>
            }
        </table>
        <br />
    </div>