@model List<DataStructuresAndLINQ.User>
@{
    ViewData["Title"] = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Get the list of users in alphabetical order with sorted todo items by length name</h2>
<div>
    <br />
    <table class="table text-center">
        <thead>
            <tr>
                <td>Id</td>
                <td>User name</td>
            </tr>
        </thead>
        @foreach (var el in Model)
        {
            <tbody>
                <tr class="btn-link" id="com" data-toggle="collapse">
                    <td>@el.Id</td>
                    <td>@el.Name</td>
                    <td>
                        @foreach (var t in el.Todos)
                        {
                            <tr class="collapse in" id="com">
                                <td>TODO id: @t.Id</td>
                                <td>TODO name: @t.Name</td>
                            </tr>
                            
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <br />
</div>
