@model AspNetMvcCore.Models.Query
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Please, type the todo name.</h4>
<div>
    <form asp-controller="Todo" asp-action="GetTodo" method="post">
        Todo name: <input asp-for="Name" /> <br />
        <button type="submit">Find</button>
    </form>
</div>
