@model AspNetMvcCore.Models.Query
@{
    ViewData["Title"] = "TodoInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <br/>
    <h2>Todo</h2>
    <br/>
    <h4>Please, type the todo name.</h4>
    <br/>
    <div>
        <form asp-controller="Todo" asp-action="TodoResult" method="post">
            Todo name: <input asp-for="Name"/> 
            <br/>
            <br/>
            <button type="submit"> Find </button>
            <br/>
        </form>
        <br/>
    </div>
</div>